body{                               /* ancha de pagina */
    margin-left: 12%;
    margin-right: 12%;
}

.img {
    text-align: center;                                 /* centrar textos */
    background-image: url('../img/banner-2.jpg');       /* fondo de pantalla */
    background-size: cover;
    padding: 30vh 100px;                            /* para fondo de pantalla */
    height: 100vh;          /* Espaciado y tamaño */
    font-size: 70px;        /* altura imagen */
 }

.tituloimg {            /* Estilos para el título de la imagen */
    font-size: 70px;        /* Tamaño letra */
    text-align: center;     /* centrar textos */
}

.row {
    display: table;             /*hace que un elemento HTML actúe como una tabla*/
    clear: both;                     /* para que no se mueva */
}

.rowflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgsection1-2 {
    width: 95%;                 /* centrar textos */
    height: auto;
}

.texto-estrecho {
    font-stretch: condensed; /* Hace que la fuente sea más estrecha */
    letter-spacing: -1px; /* Reduce el espacio entre las letras */
    word-spacing: -2px; /* Reduce el espacio entre las palabras */
    font-size: 35px;
}

.col2 {
    width: 50%;
    float: left;             /* para que se ponga a izquierda */
}

.col2-right {
    width: 50%;
    float: right;            /* para que se ponga a derecha */
}

.col1 {
    width: 100%;
    color: black;
    font-size: 35px;
    text-align: center;
}

.col4 {
    width: 25%;
    float: left;
    /* padding: 40px; */
    text-align: center;
}

.col4-juntos {
    width: 25%;
}

.img-col4-juntos {
    width: 100%;
    height: auto;
}

.img-col4 {
    width: 50%;
    height: auto;
}

.row4col {
    display: table;
    align-items: center;
    justify-content: center;
}

.colorcol4 {
    background-color: rgb(0, 255, 157);             /* color fondo */
}
                                                
.colorpart5 {
    background-color: rgb(0, 132, 255);             /* color fondo */
}

.colorpie {
    background-color: black;                    /* Color de fondo y texto blanco y texto centrado */
    color: white;
    text-align: center;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;                         /* Estilos de fuente permanente */
  }
  .letras {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
    
  

@media screen and (max-width: 700px) {              /* Media queries para pantalla pequeño de 700px */


    body{
        margin-left: 5%;
        margin-right: 5%;
    }


    .rowflex {
     display: table;
     font-size: 20px;
    }

    .col2 {
        width: 100%;
    }

    .col2-right {
        width: 100%;
    }

    
    .col4 {
         width: 50%;
    }

    .row4col {
        display: table;
    }


    .col4-juntos {
         width: 50%;
        float: left;
    }

    .img-col4-juntos {
        width: 100%;
        display: table;
    }

    .img {                          /* Ajusta el espaciado de la imagen en pantallas pequeñas */
        padding: 30vh 10px;
    }

    .tituloimg {
        font-size: 60px;
        text-align: center;
    }
    
}