body{
    margin-left: 12%;
    margin-right: 12%;
}

.img {
    text-align: center;
    background-image: url('../img/banner-2.jpg');
    background-size: cover;
    padding: 30vh 100px;
    height: 100vh;
    font-size: 70px;
 }

.tituloimg {
    font-size: 70px;
    text-align: center;
}

.row {
   
    display: table;
    clear: both;
}

.rowflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgsection1-2 {
    width: 95%;
    height: auto;
}

.texto-estrecho {
    font-stretch: condensed; /* Hace que la fuente sea más estrecha */
    letter-spacing: -1px; /* Reduce el espacio entre las letras */
    word-spacing: -2px; /* Reduce el espacio entre las palabras */
    font-size: 35px;
}

.col2 {
    width: 50%;
    float: left;
}

.col2-right {
    width: 50%;
    float: right;
}

.col1 {
    width: 100%;
    color: black;
    font-size: 35px;
    text-align: center;
}

.col4 {
    width: 25%;
    float: left;
    /* padding: 40px; */
    text-align: center;
}

.col4-juntos {
    width: 25%;
}

.img-col4-juntos {
    width: 100%;
    height: auto;
}

.img-col4 {
    width: 50%;
    height: auto;
}

.row4col {
    display: table;
    align-items: center;
    justify-content: center;
}

.colorcol4 {
    background-color: rgb(0, 255, 157);
}

.colorpart5 {
    background-color: rgb(0, 132, 255);
}

.colorpie {
    background-color: black;
    color: white;
    text-align: center;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .letras {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
    
  

@media screen and (max-width: 700px) {


    body{
        margin-left: 2%;
        margin-right: 2%;
    }

    .row {
        display: block;
    }

    
.rowflex {
    display: block;
}

    .col2 {
        width: 100%;
        align-items: center;
    }

    .col2-right {
        width: 100%;
    }

    
.col4 {
    width: 50%;
    float: left;
}

.row4col {
    display: block;
}



.col4-juntos {
    width: 50%;
    float: left;
}

.img-col4-juntos {
    width: 50%;
    display: block;
}


    
}